#stats {
    display: none;
}

.container {

}

.footer {
	position: absolute;
	bottom: 0;
	margin-bottom: 30px;
}

h1 {
	font-size: 70px;
}

h2 {
	font-weight: 200;
}

h3 {
	font-size: 100px;
	font-weight: 600;
}

h4 {
	font-size: 40px;
	font-weight: 300;
}

#title {
    margin-top: 20px;
    text-align: center;
}

#main {
	text-align: left;
}

#drop-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	color: white;
	background-color: #83c34e;
	opacity: 0;
	z-index: -5;
}

#drop-it {
	font-size: 100px;
    opacity: 0;
}

#summoner-name {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

a {
    cursor: pointer;
}

#drop-objects {
    z-index: 15;
    text-align: center;
    width: 100%;
	position: relative;
	height: 250px;
	top: 50%;
	margin-top: -125px;
}

#drop-sub {
    font-size: 40px;
    font-weight: 300;
    opacity: 0;
}

#progress-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #acd789;
    height: 100%;
    width: 0%;
}

#drop-cover.show {
   z-index: 5 !important;
}

.alert-info {
	font-size: 18px;
	text-align: center;
	margin-top: 50px;
}

.show {
	opacity: 1 !important;
}

.fade-animation {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
